@page
@model FreeBilling.Web.Pages.CustomersBillingModel
@{
}

@section header
{
    <base href="/customersBilling"/>
}
@section scripts
{
    <script type="module" src="http://localhost:5173/src/main.js"></script>
}
<div id="app"></div>